#DivDir{
    position:static;
    float: right;
    border: 6px solid black;
    border-radius: 10px;
    width:50%;
    height: 700px;
    display: inline;

}

#DivEsq{
    position: relative;
    float: left;
    border-width:2px;
    border: #1b1e21 1px;
    width:50%;

}
